
.content {
    width: 80%;
    padding: 30px 10%;
}

.content {
    display: flex;
    justify-content: space-between;
}

.content .profile-data {
    width: 30%;
}

.content .repositories {
    width: 70%;
}
