
.header {
    /* position: fixed; */
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 80px;
    font-weight: 900;
    font-size: 25px;
    background-color: #b4433c;
    text-align: left;
    color: #ccc;
}