
.header {
    /* position: fixed; */
    left: 0;
    top: 0;
    width: 100%;
    padding: 10px 40px;
    font-weight: 900;
    font-size: 25px;
    background-color: #032441;
    text-align: left;
    color: #ccc;
}